@font-face {
    font-family: amogus;
    src: url(fontes/In\ your\ face\,\ joffrey!.ttf) format('truetype');
}

body{
    font-family: amogus;
    background-color: rgb(12, 9, 15);
}
.conteiner{
    display: flex;
    padding-top: 100px;
}

.conteiner img {
    margin-left: 100px;
    width: 500px;
    height: auto;
    position: absolute;
    
}
.preço {
    display: flex;
    margin: 0;
    font-size: 70px;
    color: aliceblue;
    margin-left: 890px;
}

@media screen and (max-width: 768px) {
    .nome{


        font-size: 80px;
        margin: 0;
        color: aliceblue;
        flex-direction: column;
    }
}


@media screen and (min-width: 768px) {
    .nome{
        display: flex;
        font-size: 80px;
        margin: 0;
        color: aliceblue;
        margin-left:800px;

    }

}
.bio{
    color: aliceblue;
    font-size: 30px;
    box-sizing: border-box;
    padding-inline-end: 200px;
    margin-left: 720px;
}
.comprar{
    display: inline-block;
    color: greenyellow;
    background-color: green;
    height: 90px;
    width: 280px;
    font-size: 60px;
    margin-left: 850px;
    border-radius: 30px;
    text-transform:capitalize;
    
}
.info{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
h1, h2{
    font-weight:normal;
}
.titulo{
    display: flex;
    
}

.imagem_seta{
    position: absolute;
    width: 70px;
    margin-top: 20px;
    margin-left: 50px;
}
.zo{
    vertical-align: 100px;
    margin: 0;
    margin-top: 10px;
    margin-left: 700px;
    font-size: 90px;
    color: aliceblue;
}