.title{
    margin-top: 80px;
    margin-bottom: 80px;
    size: 100px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:greenyellow ;
    
}
.container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}
.container2{
    
}
body{
    background-color: black;
}
