.title{
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:greenyellow ;
    
}
.container{
    grid-template-columns: repeat(5,auto);
    display: grid;
    flex-wrap:wrap;
    gap: 10px;
    justify-content: center;
}

.container img {
    width: 150px;
  }
.item{
    line-height: 2px;
    display: flex;
    flex-direction: column;
    align-items:;
    color: white;
    font-size: 20px;
}
body{
    background-color: black;
}



